body {
    
    background-color:coral;
}

table {
    background-color:grey;
    margin-top:45%;
}

select , input[type="submit"]{
 color:grey;
}
table , tr, td {
    text-align:left;
    color:white;
}



tr,td {
    border:solid 2px grey;
}
